.body {
  /*background-color:#7F563C;*/
  background-color:#FFFFFF;
  /*color:#483C32;*/
  color:#000015;
  font-family:Helvetica;
  height:95%;
  width:95%;
  margin:10px;
}

a {
  text-decoration:none;
  color:#0000b0;
}

a:hover {
  text-decoration:underline;
}

.thumbnail-img {
  height:150px;
}

.person-img {
  float:left;
  height:200px;
  margin-right:20px;
  border-radius:20px;
  /*border-right:outset 1px black;
  border-bottom:outset 1px black;*/
}

.name-title {
  font-weight:normal;
  margin-bottom:0px;
  color:black;
}

.name-title-link:hover {
  text-decoration:underline;
}

.name-title-link {
  text-decoration:none;
  color:white;
  font-weight:bold;
}

.designation {
  font-weight:normal;
  margin-top:0px;
  color: black;
  /*display:none;*/
}

.title {
  font-weight:normal;
  clear:both;
}

.sloka {
  font-weight:bold;
  align:center;
}

.content {
  margin-left:0px;
  /*border-right:solid 2px #000000;*/
  border-bottom:solid 1px #000000;
  border-top:solid 1px #000000;
  border-radius:20px;
  padding:10px;
}

.text {
  /*clear:both;*/
  color:white;
}

.title-div {
  background-color:#eeeeee;
  border-color:black;
  border-style:solid;
  /*background-color: black;*/
  border-radius:20px;
  margin-bottom:10px;
  padding:20px;
  height: 200px;
}
